<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v6.0" />
	</startup>
	<appSettings>
		<add key="logPath" value="C:\Users\%username%\Downloads\Logs\"></add>
		<add key="configPath" value="C:\Users\%username%\Downloads\ConfigPath\"></add>
		<add key="configExtension" value="xml"></add>
		<add key="language" value="fr_FR"></add>
		<add key="version" value="1.1.0"></add>
	</appSettings>
</configuration>